
<div class="horizontal">
  <div class="viewport viewport-1">item 1</div>
  <div class="viewport viewport-2">item 2</div>
  <div class="viewport viewport-3">item 3</div>

  <img class="sky" src="static/img/content/sky.svg" alt="">
  <img class="river" src="static/img/content/river-all.svg" alt="">
  <img class="dock" src="static/img/content/dock.svg" alt="">
  <svg class="boat"  viewBox="0 0 110 90" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="graphics/boat">
          <g id="reflection">
              <g id="characters" opacity="0.19">
                  <path id="Fill 2" fill-rule="evenodd" clip-rule="evenodd" d="M5.2593 0L3.30706 3.3059L8.16496 6.89088L0 31.9757L11 32L10.0314 1.67871L5.2593 0Z" transform="translate(71 90) rotate(-180)" fill="#918E92" />
              </g>
              <path id="Fill 3" fill-rule="evenodd" clip-rule="evenodd" d="M14.8913 0.0433972L0 32L108 16.019L98.6848 0L14.8913 0.0433972Z" transform="translate(110 45) scale(-1 1)" fill="#90BAC8" />
          </g>
          <g id="client">
              <path id="Fill 2_2" fill-rule="evenodd" clip-rule="evenodd" d="M5.2593 0L3.30706 3.3059L8.16496 6.89088L0 31.9757L11 32L10.0314 1.67871L5.2593 0Z" transform="translate(71) scale(-1 1)" fill="#918E92" />
          </g>
          <g id="Boat">
              <g id="big ripples_1">
                  <path id="Oval" opacity="0.4" d="M54 11.114C91.6523 11.114 108 10.0899 108 6.5C108 2.91015 83.8234 0 54 0C24.1766 0 0 2.91015 0 6.5C0 10.0899 16.3477 11.114 54 11.114Z" transform="translate(108 39) scale(-1 1)" fill="#BFDDE2" />
                  <path id="Oval_2" d="M48 5.19922C74.5097 5.19922 96 5.433 96 3.5C96 1.567 74.5097 0 48 0C21.4903 0 0 1.567 0 3.5C0 5.433 21.4903 5.19922 48 5.19922Z" transform="translate(102 42) scale(-1 1)" fill="#BFDDE2" />
              </g>
              <path id="Fill 1" fill-rule="evenodd" clip-rule="evenodd" d="M14.8913 31.9512L98.6848 32L108 15.9729L0 0L14.8913 31.9512Z" transform="translate(110 13) scale(-1 1)" fill="#C2918C" />
          </g>
      </g>
  </svg>
</div>